.cart {
	/*border: 2px solid magenta;*/
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	width: 90%;
	height: 200px;
	margin: 4.5em auto;
	border-radius: 10px;
	box-shadow: 0px 10px 15px #00000070;
	background-color: var(--White);
}

.cart h3 {
	padding:.8em 1em;
}

.cart-content {
	padding:1em;
	border-top: 1px solid var(--Grayish-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	gap: .5em;

}

.cart-content-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	color: var(--Grayish-blue);
	/*border: 1px solid magenta;*/
}

.cart-content-item img {
	/*border: 1px solid magenta;*/
	height: 100%;
	border-radius: 5px;
}

.cart-content-item div {
	width: 60%;
	/*border: 1px solid magenta;*/
}

.cart-content-item div p {
	font-size: .75rem;
	font-weight: 500;
	/*color: var(--Grayish-blue);*/

}

.cart-content-item div p span {
	color: var(--Black);
	font-weight: 700;
}

.cart-content-item i {
	/*color: var(--Grayish-blue);*/
}


.message {
	/*border: 1px solid magenta;*/
	color: var(--Grayish-blue);
	margin: 2.5em auto;
}


button{
	width: 100%;
	background-color: var(--Orange);
	border-radius: 5px;
	border: none;
	padding: .8em;
	color: var(--White);
	font-size: .875em;
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	.cart {
		width: 300px;
		left: 80%;
		margin: 5em 0;
		/*border: 1px solid magenta;*/
	}
}