.section-wrapper {
	width: 90%;
	margin: 1em auto;
	/*border: 1px solid magenta;*/
}

.company-name {
	/*border: 1px solid magenta;*/
	color:  var(--Orange);
	font-size: 0.675rem;
	font-weight: 700;
	letter-spacing: .1em;
}

.product-name {
	margin: .5em 0;
	font-size: 1.5em;
}


.product-copy {
	font-size: 0.875rem;
	color:  var(--Grayish-blue);
	line-height: 1.5;
}

.price-details {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
	align-self: center;
	/*border: 1px solid magenta;*/
}

.current-price {
	display: flex;
	justify-content: space-between;
	align-self: center;
	/*border: 1px solid magenta;*/
	width: 45%;
}

.current-price h1 {
	font-weight: 800;
}

.current-price p {
	align-self: center;
	font-size: .85rem;
	font-weight: 700;
	border-radius: 4px;
	color: var(--Orange);
	background-color: #FFA50045;
	padding: .1em .3em;
}

.prev-price {
	align-self: center;
	text-decoration: line-through;
	color: var(--Grayish-blue);
	font-weight: 700;
	font-size: .875rem;
}

.product-action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:  1em;
	/*border: 1px solid magenta;*/
}

.cart-quantity {
	display: flex;
	justify-content: space-between;
	align-self: center;
	width: 100%;
	padding: .8em;
	border-radius: 5px;
	background-color: var(--Light-grayish-blue);
	color: var(--Black);
	font-weight: 700;
	/*border:1px solid magenta;*/
}

.cart-quantity i {
	color: var(--Orange);
	font-weight: bolder;
	font-size: 1.2rem;
}

.button {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
	padding: .8em;
	border-radius: 5px;
	background-color: var(--Orange);
	color: var(--White);
	font-weight: 700;
	/*border:1px solid magenta;*/
}

.button i {
	margin-right: 10px;
	font-size: 1rem;
}

@media screen and (min-width: 1022px){
	.section-wrapper {
		width: 60%;
		align-self: center;
		margin: 0 auto;
		/*border:1px solid magenta;*/
	}

	.product-name {
		margin: 1em 0;
		font-size: 2em;
	}	

	.product-action {
		flex-direction: row;
		width: 100%;
	}

	.cart-quantity{
		width: 50%;
	}

	.button i {
		margin-right: 10px;
		font-size: 1rem;
	}

	.cart-quantity p,
	.button p {
		font-size: .875rem;
	}
}

