.container {
	width: 90%;
	max-width: 1022px;
	margin: 0 auto;
}


@media screen and (min-width:1022px){
	main {
		width: 70%;
		margin: 5em auto;
		/*border: 1px solid magenta;*/
	}
	main{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10em;
	}
}